// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables

$body-bg: #040403;
$body-color: #c3e8bd;
$primary: hotpink;
$font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS

/*.fancy {
  display: inline-block;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #fff;
  padding: 0.5em;
}*/
.hero-image {
  background-image: url(/public/me.jpg);
  /*background-color: #cccccc;*/
  min-height: 25rem;
  min-width: 25rem;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  color: #c3e8bd;
}
.head-nav {
  display: flex;
  justify-content: space-evenly;
}
.head-nav a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  display: block;
  text-align: center;
}
.container {
  /*width: 100%;*/
  height: 15rem;
  background-color: #9ddbad;
}
