// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables

$body-bg: #040403;
$body-color: #8eb897;
$primary: hotpink;
$font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS

/*.fancy {
  display: inline-block;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #fff;
  padding: 0.5em;
}*/
html {
  scroll-behavior: smooth;
}

.head-nav {
  display: flex;
  justify-content: space-evenly;
}
.head-nav a {
  color: #8eb897;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  display: block;
  text-align: center;
}
.greencontainer {
  /*width: 100%;*/
  min-height: 16rem;
  background-color: #8eb897;
  width: 100%;
}
.col {
  color: #040403;
  border: solid 3px;
  text-align: center;
}
.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: center;

  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  padding: 5px;
  width: 45%;
  margin: 10px;
  color: black;
  text-align: center;
  border: 1px outset black;
  border-radius: 12px;
  min-height: 200px;
}
h3 {
  font-family: "Bebas Neue", cursive;
  color: #040403;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 1000px;
}
.li_it {
  display: flex;
  flex-flow: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.li_it li {
  background: #5b7553;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
}
.linkto {
  display: inline-flex;
  width: 120px;
  height: 120px;
  box-shadow: 0px 0px 15px rgb(179, 178, 178);
  background-color: white;
  overflow: hidden;
  border-radius: 50%;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.link-img {
  width: 80px;
  height: 80px;
}
